<%= form_with(model: lecture_promotion) do |form| %>
  <% if lecture_promotion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lecture_promotion.errors.count, "error") %> prohibited this lecture_promotion from being saved:</h2>

      <ul>
        <% lecture_promotion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :lecture_id, style: "display: block" %>
    <%= form.select :lecture_id, options_for_select(Lecture.all.map { |r| [r.name, r.id] }), {}, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :promotion_id, style: "display: block" %>
    <%= form.select :promotion_id, options_for_select(Promotion.all.map { |r| [r.name, r.id] }), {}, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :semester_id, style: "display: block" %>
    <%= form.select :semester_id, options_for_select(Semester.all.map { |r| [r.name, r.id] }), {}, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :person_id, style: "display: block" %>
    <%= form.select :person_id, options_for_select(Person.where(type_person_id: TypePerson.find_by(slug: 'TEA')).map { |r| [r.fullname, r.id] }), {}, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>